@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #1D3557;
}

.arrleft {
  margin-left: 16px;
    float: left;
    fill: #1D3557;
}

#health {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
    margin-right: 28px;
    margin-bottom: 16px;
}

#desc {
    text-align: center;
    padding: 27px;
}

#symptom {
    height: 44px;
    width: 60vw;
    border-radius: 16px;
    background-color: #F0F0F0;
    border-style: none;
    padding-left: 8px;
   /* margin-top: 8px;*/
    margin: auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #1D3557;
}

#symptom::placeholder {
    color: #A8DADC;
}

#recdrugs {
    margin-top: 115px;
    margin-bottom: 8px;
    text-align: center;
}

#displaydrugs {
    width: 50vw;
    height: 231px;
    border: none;
    border-radius: 16px;
    margin: auto;
    padding-top: 11px;
    padding-left: 16px;
    background-color: #F0F0F0;    
}